
.navbar {
    background: linear-gradient(90deg, #FFFDF6, #FAF6E9);
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #7A4B3B;
    box-shadow: 0 4px 25px rgba(122, 75, 59, 0.4), 0 10px 20px rgba(122, 75, 59, 0.2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  
  .navbar-logo {
    font-size: 24px;
    font-weight: bold;
    color: #EB5B00;

  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    position: relative;
    transition: color 0.3s ease;
  }
  
  .navbar-links li a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    width: 0;
    background-color:#7A4B3B;
    transition: width 0.3s ease;
  }
  
  .navbar-links li a:hover::after {
    width: 100%;
  }
  
  .navbar-links li a:hover {
    color:#EB5B00;
  }
  