
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  
  position: fixed; /* Keeps navbar at top */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Makes sure it stays above other elements */
}

.logo {
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links li a {
  text-decoration: none;
  color: #555;
  font-weight: 500;
  cursor: pointer;
}

.active-link a {
  color: #d35400;
  font-weight: 700;
  border-bottom: 2px solid #d35400;
}

.auth-buttons button {
  margin-left: 0.75rem;
  padding: 0.5rem 1rem;
  border: 1px solid #d35400;
  background: transparent;
  color: #d35400;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
  /* margin-left: 50px; */
}


.auth-buttons button:hover {
  background-color: #d35400;
  color: white;
}
